<div class="values-container-wrapper">
    <div class="values-container">
        <div class="value tailored-designs-wrapper">
            <img src="../../assets/images/services/vector-line-long-1.svg" alt="" class="vector-line-long-1">
            <img src="../../assets/images/services/vector-line-long-2.svg" alt="" class="vector-line-long-2">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">

            <span class="title">{{ 'home.values.cutting_edge_experiments_title' | transloco }}</span>
            <span class="description">{{ 'home.values.cutting_edge_experiments_description' | transloco }}</span>
            <img src="../../assets/images/values/task-big.png" alt="" class="task-progress-image">
        </div>
        <div class="value cross-platform-wrapper">
            <img src="../../assets/images/values/laptop-big.png" alt="" class="mobile-laptop-image">
            <span class="title">{{ 'home.values.showcase_your_creations_title' | transloco }}</span>
            <span class="description">{{ 'home.values.showcase_your_creations_description' | transloco }}</span>
        </div>
        <div class="value analytics-wrapper">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">
            <div class="grid-wrapper">
                <img src="../../assets/images/icons/grid-primary.svg" alt="" class="grid-icon">
            </div>

            <div class="vertical-graph-wrapper">
                <img src="../../assets/images/values/chart-big.png" alt="" class="vertical-graph-image">
            </div>
            <span class="title">{{ 'home.values.skill_growth_beyond_code_title' | transloco }}</span>
            <span class="description">{{ 'home.values.skill_growth_beyond_code_description' | transloco }}</span>
            <img src="../../assets/images/values/graph-big.png" alt="" class="circular-graph-image">
        </div>
        <div class="value ada-wrapper">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">
            <img src="../../assets/images/values/learning.png" alt="" class="ada-image">
            <span class="title">{{ 'home.values.collaborative_learning_title' | transloco }}</span>
            <span class="description">{{ 'home.values.collaborative_learning_description' | transloco }}</span>
        </div>
        <div class="value multilingual-wrapper">
            <span class="title">{{ 'home.values.future_ready_community_title' | transloco }}</span>
            <span class="description">{{ 'home.values.future_ready_community_description' | transloco }}</span>
            <img src="../../assets/images/values/community.png" alt="" class="hello-tags-image">
        </div>
    </div>
</div>
