<div class="informative-text-wrapper">
    <span class="title">
        Send me a message!
    </span>
    <span class="description">
        Got a question or proposal, or just want to say hello? Go ahead.
    </span>


</div>
<div class="form-container">
    <div class="contact-information-inputs-wrapper">
        <app-input [type]="'text'" [placeholder]="'Name'" [required]="true" />
        <app-input [type]="'text'" [placeholder]="'Email'" [required]="true" />
    </div>
    <textarea class="text-area" name="" id=""
        [placeholder]="'Hi, I think we need a design system for our products at Company X. How soon can you hop on to discuss this?'"></textarea>
        <span class="email">{{"john.keikoglou@gmail.com"}}</span>
    <button class="submit-button">
        <span class="title">SHOOT</span>
        
        <div class="arrow-wrapper">
            
            <div class="arrow"></div>
            <div class="arrow-point"></div>
        </div>
    </button>
</div>