@import "../../design/mixins/media-queries";

:host {
    height: 100%;
    background-color: var(--light-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

.informative-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--dark-text);
    z-index: 2;

    .title {
        font-size: var(--font-size-large);
        font-family: 'Baloo-Regular';

        @include tablet {
            font-size: var(--font-size-xl);
        }
    }

    .description {
        max-width: 340px;
    }
}

.form-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    z-index: 2;


    .contact-information-inputs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        @include xs-mobile {
            flex-direction: row;
        }
    }

    .text-area {
        border: 1px solid grey;
        background-color: var(--light-background);
        font-size: 1rem;

        &:focus {
            background-color: var(--light-background);
        }
    }
    
    .email {
        font-size: 0.875rem;
        width: 100%;
        text-align: end;
        font-weight: bold;
        white-space: nowrap;
    }

    .submit-button {
        max-width: 200px;
        font-size: 1rem;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 16px;
        background-color: var(--light-background);
        border: 1px solid grey;
        height: 3rem;
        transition: all 0.3s ease-in-out;
        font-weight: 'Baloo-Regular';
        font-weight: bold;
        position: relative;
        padding-left: 60px;

        // And from the left
        &:hover {
            box-shadow: inset 300px 0 0 0 var(--light-background-darker);

            .arrow-wrapper {
                .arrow {
                    width: 220px;
                }

            }
        }

        // And from the left
        &:focus {
            box-shadow: inset 300px 0 0 0 var(--light-background-darker);

            .arrow-wrapper {
                .arrow {
                    width: 220px;

                }
            }
        }


        .arrow-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 70%;

            .arrow {
                width: 20px;
                transition: all 0.4s ease-in-out;
                height: 2px;
                background-color: black;
            }


            .arrow-point {
                border-bottom: 6px solid transparent;
                border-top: 6px solid transparent;

                border-left: 6px solid black;

            }


        }
    }

}