<div class="values-container-wrapper">
    <div class="values-container">
        <div class="value tailored-designs-wrapper">
            <img src="../../assets/images/services/vector-line-long-1.svg" alt="" class="vector-line-long-1">
            <img src="../../assets/images/services/vector-line-long-2.svg" alt="" class="vector-line-long-2">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">

            <div class="title-wrapper">    
                <span class="title">Tailored Designs,</span>
                <span class="title">Just for You</span>
            </div>
            <span class="description">Forget cookie-cutter templates! Your business is one of a kind, and your apps should be too.</span>
            <img src="../../assets/images/services/task-progress.svg" alt="" class="task-progress-image">
        </div>
        <div class="value cross-platform-wrapper">
            <img src="../../assets/images/services/mobile-laptop.svg" alt="" class="mobile-laptop-image">
            <span class="title">Cross-Platform Reach</span>
            <span class="description">Why stay limited? Launch your app on multiple platforms and reach a bigger audience.</span>
        </div>
        <div class="value analytics-wrapper">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">
            <div class="grid-wrapper">
                <img src="../../assets/images/icons/grid-primary.svg" alt="" class="grid-icon">
            </div>

            <div class="vertical-graph-wrapper">
                <img src="../../assets/images/services/Vertical Graph.svg" alt="" class="vertical-graph-image">
            </div>
            <span class="title">Built-In Analytics</span>
            <span class="description">Stay in the know! Get actionable insights on visitor behavior to fine-tune your strategies.</span>
            <img src="../../assets/images/services/circular-graph.svg" alt="" class="circular-graph-image">
        </div>
        <div class="value ada-wrapper">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">
            <img src="../../assets/images/services/ada.svg" alt="" class="ada-image">
            <span class="title">Accessibility First</span>
            <span class="description">ADA-compliant designs that welcome everyone, including users with disabilities.</span>
        </div>
        <div class="value multilingual-wrapper">
            <span class="title">Multilingual, Multinational</span>
            <span class="description">Expand your reach beyond borders—your app is built to speak the world's languages.</span>
            <img src="../../assets/images/services/hello-tags.svg" alt="" class="hello-tags-image">
        </div>
    </div>
</div>
