<div class="informative-text-wrapper" *transloco="let t">
    <span class="title">
        {{t('home.contact.send_me_a_message_title')}}
    </span>
    <span class="description">
        {{t('home.contact.send_me_a_message_description')}}
    </span>


</div>
<div class="form-container" *transloco="let t">
    <div class="contact-information-inputs-wrapper">
        <app-input [type]="'text'" [placeholder]="t('home.contact.name_placeholder')" [required]="true" />
        <app-input [type]="'text'" [placeholder]="t('home.contact.email_placeholder')" [required]="true" />
    </div>
    <textarea class="text-area" name="" id=""
        [placeholder]="t('home.contact.textarea_placeholder')"></textarea>
        <span class="email">{{"john.keikoglou@gmail.com"}}</span>
    <button class="submit-button">
        <span class="title">{{t('home.contact.shoot_button_title')}}</span>
    </button>
</div>

<div class="coming-soon-wrapper" *transloco="let t">
    <div class="announcement-wrapper">
        <span class="title">{{t('home.contact.are_you_a_fellow_developer_title')}}</span>
        <span class="description">{{t('home.contact.are_you_a_fellow_developer_description')}}</span>
    </div>
    <div class="mobile-animation-wrapper">
        <span class="description">{{t('home.contact.are_you_a_fellow_developer_description')}}</span>
        <app-coming-soon />
    </div>
    <div class="desktop-animation-wrapper">
        <app-coming-soon />
    </div>

</div>


