<div class="informative-text-wrapper">
    <span class="title">
        Send me a message!
    </span>
    <span class="description">
        Got a question or proposal, or just want to say hello? Go ahead.
    </span>


</div>
<div class="form-container">
    <div class="contact-information-inputs-wrapper">
        <app-input [type]="'text'" [placeholder]="'Name'" [required]="true" />
        <app-input [type]="'text'" [placeholder]="'Email'" [required]="true" />
    </div>
    <textarea class="text-area" name="" id=""
        [placeholder]="'Hi, I think we need a design system for our products at Company X. How soon can you hop on to discuss this?'"></textarea>
        <span class="email">{{"john.keikoglou@gmail.com"}}</span>
    <button class="submit-button">
        <span class="title">SHOOT</span>
    </button>
</div>

<div class="coming-soon-wrapper">
    <div class="announcement-wrapper">
        <span class="title">Are you a fellow developer? Welcome!</span>
        <span class="description">There’s a spot for you here too.<br/> Stay tuned—our blog on web development tips and tricks is launching soon!</span>
    </div>
    <div class="mobile-animation-wrapper">
        <span class="description">There’s a spot for you here too.<br/> Stay tuned—our blog on web development tips and tricks is launching soon!</span>
        <app-coming-soon />
    </div>
    <div class="desktop-animation-wrapper">
        <app-coming-soon />
    </div>

</div>


