<div class="grid-wrapper">
    <div class="article partner">
        <div class="article-text-1">
            <div class="title partner-title">
                Partner with Us
            </div>
            <div class="description partner-description">
                Join us in building standout digital solutions. We’re committed to collaboration and continuous
                improvement, whether you're a startup or a large enterprise. Let’s create impactful digital experiences
                that connect with your audience.
            </div>
        </div>
        <img src="../../assets/images/icons/circles.svg" alt="" class="circles">
    </div>
    <div class="article choose">
        <div class="article-text-2">
            <div class="title">
                Why Choose Us
            </div>
            <div class="description">
                We don’t use shortcuts. Each project is crafted from the ground up with custom code, tailored to your
                unique needs. From visually captivating websites to inventive mobile apps, we’re here to bring your
                vision to life.
            </div>
        </div>
        <img src="../../assets/images/icons/vector-lines/vector-primary-1.svg" alt="" class="vector-line-1">
        <div class="vector-line-2-wrapper">
            <img src="../../assets/images/icons/vector-lines/vector-primary-2.svg" alt="" class="vector-line-2">
        </div>


    </div>
    <div class="article story">
        <div class="article-text-3">
            <div class="title">
                Our Story
            </div>
            <div class="description">
            </div>
            Starting with websites and mobile apps, we’ve grown to offer a diverse range of custom solutions for various
            industries. Today, our expertise spans beyond traditional projects, keeping us at the cutting edge of
            technology and enabling your business to succeed.
        </div>
        <div class="grid-icon-wrapper">
            <img src="../../assets/images/icons/grid-primary.svg" alt="" class="grid-icon">
        </div>

    </div>