@import '../../design/mixins/media-queries';

:host {
    height: 100%;
    background-color: var(--light-background);
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--dark-text);
    padding: 44px 32px;
    gap: 48px;

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
    }


    .article {
        position: relative;
        max-width: 500px;
        z-index: 2;

        .title {
            font-family: 'Baloo-Regular';
            font-size: var(--font-size-large);

            @include tablet {
                font-size: var(--font-size-xl);
            }
        }

        .description {}

        &.partner {
            .circles {
                position: absolute;
                top: -40px;
                left: 50%;
            }
        }

        &.choose {
            grid-column-start: 2;
            grid-row-start: 2;
            grid-row-end: 3;

            .vector-line-1 {
                position: absolute;
                top: -30px;
                scale: 1.5;
                transform: rotate(15deg);
                right: 50%;

                @include tablet {
                    top: -60px;
                    scale: 2;
                    transform: rotate(15deg);
                    right: 50%;
                }
            }

            .vector-line-2-wrapper {
                position: absolute;
                bottom: 0;
                left: 0%;
                scale: 2;


                @include tablet {
                    left: auto;
                    right: 60%;
                    bottom: -100px;
                    scale: 3;

                }

                .vector-line-2 {
                    transform: rotate(20deg);

                    @include tablet {
                        transform: rotate(100deg);

                    }
                }




            }

        }

        &.story {
            grid-column-start: 1;
            grid-row-start: 3;

            .grid-icon-wrapper {
                position: absolute;
                top: 0;
                right: 0;


                @include tablet {
                    top: -120px;
                    right: 50px;
                }

                .grid-icon {
                    transform: rotate(45deg);

                    @include tablet {
                        transform: rotate(30deg);
                    }
                }

            }
        }
    }
}