@if(type() === 'textarea') {
    <textarea
        class="text-area" 
        [placeholder]="placeholder()"
        [ngClass]="{'isDirty': !!invalidMessage()}"
        [(ngModel)]="value"
        (ngModelChange)="onModelChange($event)" 
    ></textarea>
} @else {
    <div class="input-container">
        <input 
            class="front" 
            [ngClass]="{'focused' : focused() || value, 'isDirty': !!invalidMessage()}"
            [type]="finalInputType" 
            [(ngModel)]="value"
            (ngModelChange)="onModelChange($event)" 
            (focus)="focused.set(true)" 
            (blur)="focused.set(false)"
            [id]="inputId"
            [disabled]="disableInput()"
        />    
        <label [ngClass]="{'required': required(), 'focused': focused() || value}" [for]="inputId">{{placeholder()}}</label>
    </div>
}


<span class="error-message" [style.visibility]="invalidMessage() ? 'visible' : 'hidden'"><span class="error-sign"></span>{{invalidMessage()}}</span>