<div class="header" [ngClass]="{hide: !isNavbarVisible}">
    <button class="nav-links" (click)="setActive('home')" [ngClass]="{'active' : activeSection() === 'home', 'light-colored': showLightColor()}">
        <div class="dash" [ngClass]="{'active' : activeSection() === 'home', 'light-colored': showLightColor()}"></div>
        Home
    </button>
    <button class="nav-links" (click)="setActive('services')" [ngClass]="{'active' : activeSection() === 'services', 'light-colored': showLightColor()}">
        <div class="dash" [ngClass]="{'active' : activeSection() === 'services', 'light-colored': showLightColor()}"></div>
        Services
    </button>
    <button class="nav-links" (click)="setActive('about')" [ngClass]="{'active' : activeSection() === 'about', 'light-colored': showLightColor()}">
        <div class="dash" [ngClass]="{'active' : activeSection() === 'about', 'light-colored': showLightColor()}"></div>
        About
    </button>
    <button class="nav-links" (click)="setActive('contact')" [ngClass]="{'active' : activeSection() === 'contact', 'light-colored': showLightColor()}">
        <div class="dash" [ngClass]="{'active' : activeSection() === 'contact', 'light-colored': showLightColor()}"></div>
        Contact
    </button>
</div>