@import "../../design/mixins/media-queries";

:host {
    height: 100%;
    background-color: var(--light-background-darker);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0;
    gap: 48px;
    

    @include laptop {
        flex-direction: row;
    }

    .article {
        display: flex;
        flex-direction: column;
        color: var(--dark-text);
        padding: 0 32px;
        max-width: 500px;

        .title {
            font-family: 'Baloo-Regular';
            font-size: var(--font-size-large);

            @include tablet {    
                font-size: var(--font-size-xl);
            }
        }
    }

    .avatar-img {
        width: 100%;
        z-index: 2;

        @include tablet {
            width: auto;
        }
    }
}