<div class="values-container-wrapper">
    <div class="values-container">
        <div class="value tailored-designs-wrapper">
            <img src="../../assets/images/services/vector-line-long-1.svg" alt="" class="vector-line-long-1">
            <img src="../../assets/images/services/vector-line-long-2.svg" alt="" class="vector-line-long-2">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">

            <div class="title-wrapper">    
                <span class="title">{{ 'home.values.tailored_designs_title' | transloco }}</span>
                <!-- <span class="title">{{ 'home.values.just_for_you_title' | transloco }}</span> -->
            </div>
            <span class="description">{{ 'home.values.tailored_designs_description' | transloco }}</span>
            <img src="../../assets/images/services/task-progress.svg" alt="" class="task-progress-image">
        </div>
        <div class="value cross-platform-wrapper">
            <img src="../../assets/images/services/mobile-laptop.svg" alt="" class="mobile-laptop-image">
            <span class="title">{{ 'home.values.cross_platform_reach_title' | transloco }}</span>
            <span class="description">{{ 'home.values.cross_platform_reach_description' | transloco }}</span>
        </div>
        <div class="value analytics-wrapper">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">
            <div class="grid-wrapper">
                <img src="../../assets/images/icons/grid-primary.svg" alt="" class="grid-icon">
            </div>

            <div class="vertical-graph-wrapper">
                <img src="../../assets/images/services/Vertical Graph.svg" alt="" class="vertical-graph-image">
            </div>
            <span class="title">{{ 'home.values.built_in_analytics_title' | transloco }}</span>
            <span class="description">{{ 'home.values.built_in_analytics_description' | transloco }}</span>
            <img src="../../assets/images/services/circular-graph.svg" alt="" class="circular-graph-image">
        </div>
        <div class="value ada-wrapper">
            <img src="../../assets/images/icons/circles.svg" alt="" class="circles-vector">
            <img src="../../assets/images/services/ada.svg" alt="" class="ada-image">
            <span class="title">{{ 'home.values.accessibility_first_title' | transloco }}</span>
            <span class="description">{{ 'home.values.accessibility_first_description' | transloco }}</span>
        </div>
        <div class="value multilingual-wrapper">
            <span class="title">{{ 'home.values.multilingual_multinational_title' | transloco }}</span>
            <span class="description">{{ 'home.values.multilingual_multinational_description' | transloco }}</span>
            <img src="../../assets/images/services/hello-tags.svg" alt="" class="hello-tags-image">
        </div>
    </div>
</div>
