<app-header />
<app-home id="home" class="screen screen1"/>
<!-- <img src="../../../assets/images/icons/vector-q-right.svg" alt="" class="q-right"> -->
<app-values id="services"/>
<app-services id="about" class="screen screen2"/>
<!-- <div class="q-left-wrapper">
    <img src="../../../assets/images/icons/vector-q-left.svg" alt="" class="q-left">
    <div class="grid-wrapper">
        <img src="../../../assets/images/icons/grid-primary.svg" alt="" class="grid-primary">
    </div>
</div> -->
<app-contact id="contact" class="screen"/>
<!-- <app-footer /> -->


<div class="cursor-ball"></div>
<div class="cursor-outline"></div>