<app-header />
<!-- <span> {{mousePosition().x}} {{mousePosition().y}}</span> -->
<app-home id="home" class="screen"/>
<img src="../../../assets/images/icons/vector-q-right.svg" alt="" class="q-right">
<app-services id="services" class="screen"/>
<app-about id="about" class="screen"/>
<div class="q-left-wrapper">
    <img src="../../../assets/images/icons/vector-q-left.svg" alt="" class="q-left">
    <img src="../../../assets/images/icons/grid-primary.svg" alt="" class="grid-primary">
</div>
<app-contact id="contact" class="screen"/>
<!-- <app-footer /> -->
<div class="cursor-ball"></div>
<div class="cursor-outline"></div>
