<div class="left-container" *transloco="let t">
    <div class="article choose-unique">
        <div class="article-text-2">
            <div class="title">
                {{t('home.about.why_choose_me_title')}}
            </div>
            <div class="description">
                {{t('home.about.why_choose_me_description')}}
            </div>
        </div>
        <img src="../../assets/images/icons/vector-lines/vector-primary-1.svg" alt="" class="vector-line-1">
        <div class="vector-line-2-wrapper">
            <img src="../../assets/images/icons/vector-lines/vector-primary-2.svg" alt="" class="vector-line-2">
        </div>
    </div>
    <img src="../../../assets/images/icons/avatar.svg" alt="" class="avatar-img">
</div>
<div class="right-container" *transloco="let t">
    <div class="article my-story">
        <div class="article-text-3">
            <div class="title">
                {{t('home.about.my_story_title')}}
            </div>
            <div class="description">
                {{t('home.about.my_story_description')}}
            </div>
        </div>
        <div class="grid-icon-wrapper">
            <img src="../../assets/images/icons/grid-primary.svg" alt="" class="grid-icon">
        </div>

    </div>
    <div class="article partner-with-me">
        <div class="article-text-1">
            <div class="title partner-title">
                {{t('home.about.partner_with_me_title')}}
            </div>
            <div class="description partner-description">
                {{t('home.about.partner_with_me_description')}}
            </div>
        </div>
        <img src="../../assets/images/icons/circles.svg" alt="" class="circles">
    </div>
</div>