<div class="left-container">
    <div class="article choose-unique">
        <div class="article-text-2">
            <div class="title">
                Why Choose Me
            </div>
            <div class="description">
                No shortcuts, just custom code crafted for your unique needs. From visually captivating websites to innovative mobile apps, I’m here to bring your vision to life with creativity and precision.
            </div>
        </div>
        <img src="../../assets/images/icons/vector-lines/vector-primary-1.svg" alt="" class="vector-line-1">
        <div class="vector-line-2-wrapper">
            <img src="../../assets/images/icons/vector-lines/vector-primary-2.svg" alt="" class="vector-line-2">
        </div>
    </div>
    <img src="../../../assets/images/icons/avatar.svg" alt="" class="avatar-img">

    

</div>
<div class="right-container">
    <div class="article my-story">
        <div class="article-text-3">
            <div class="title">
                My Story
            </div>
            <div class="description">
                What started as a passion for creating websites and apps has grown into a commitment to building custom digital solutions across industries. I’ve developed a full-stack skillset, from front-end design to back-end systems and server management. Today, I’m dedicated to transforming unique ideas into impactful digital experiences that connect with audiences.
            </div>
        </div>
        <div class="grid-icon-wrapper">
            <img src="../../assets/images/icons/grid-primary.svg" alt="" class="grid-icon">
        </div>

    </div>
    <div class="article partner-with-me">
        <div class="article-text-1">
            <div class="title partner-title">
                Partner with Me
            </div>
            <div class="description partner-description">
                Let’s build standout digital solutions together. I’m committed to collaboration and continuous improvement, whether you’re a startup or a large enterprise. Together, we’ll create digital experiences that truly connect with your audience.
            </div>
        </div>
        <img src="../../assets/images/icons/circles.svg" alt="" class="circles">
    </div>
</div>