<div class="first-container" id="home-dark-container" *transloco="let t">
    <div class="logo-wrapper">
        <img src="../../assets/images/logo-light.svg" class="logo" alt="">
    </div>
    <div class="title-container">
        <span class="title">{{t('home.home.crafting_custom_title')}}</span>
        <span class="title">{{t('home.home.digital_solutions_title')}}</span>
        <span class="title-description">{{t('home.home.title_description_text')}}</span>
    </div>
    <div class="skills-container">
        <span class="skill-1-label">
            {{t('home.home.highly_skilled_description')}}
        </span>
        <span class="skill-2-label">
            {{t('home.home.proven_experience_description')}}
        </span>
    </div>

</div>
<div class="second-container">
    <div class="image-container-wrapper">
        <div class="image-container">
            <!-- <img src="../../assets/images/portrait.png" alt="" class="handsome"> -->
        </div>

        <div class="image-frame"></div>
        <div class="dark-grid">
            <img src="../../assets/images/icons/grid-dark.svg" alt="">
        </div>
        <div class="light-grid">
            <img src="../../assets/images/icons/grid-primary.svg" alt="">
        </div>
        <img src="../../assets/images/icons/vector-lines/vector-dark-1.svg" alt="" class="vector-line-dark">
        <img src="../../assets/images/icons/vector-lines/vector-primary-1.svg" alt="" class="vector-primary-1">

        <img src="../../assets/images/icons/vector-lines/vector-primary-2.svg" alt="" class="vector-primary-2">
    </div>
</div>